.git
.github
.pytest_cache
.qodo
.venv
.vscode
__pycache__
*.py[cod]
.DS_Store
allure-report
allure-results
allure-history
allure-results-archive
tmp-allure
docker-artifacts
logs
artifacts/reports
data/secrets.json
