{
  "registration": {
    "email": "your.email.{ts}@mailinator.com",
    "password": "YourPassword123",
    "confirm_password": "YourPassword123"
  },
  "login": {
    "email": "your.email@mailinator.com",
    "password": "YourPassword123"
  }
}
